/.metadata/
src/**/*.class
*.project
/src/mif-gen/normalizedMif.xml
/src/mif-gen/normalizedNewMif.xml
/src/mif-gen/org.hl7.fhir.validator.jar
/src/mif-gen/validation.html
/src/mif-gen/validation.txt
/src/mif-gen/vocabBundle.xml
/src/mif-gen/vocabFiles.xml
/output
/qa
/temp
