*.project
/.metadata/
/framework/**/*.class
/framework/mif-gen/normalizedMif.xml
/framework/mif-gen/normalizedNewMif.xml
/framework/mif-gen/org.hl7.fhir.validator.jar
/framework/mif-gen/validation.html
/framework/mif-gen/validation.txt
/framework/mif-gen/vocabBundle.xml
/framework/mif-gen/vocabFiles.xml
/input-cache/org.hl7.fhir.publisher.jar
/output
/temp
/template

.DS_Store
