#segment-footer > .container {
  background-color: #505050;
}
.navbar-inverse {
  background-color: #505050;
}
.columns-3 {
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  column-count: 3;
  column-gap: 10px
}