#segment-footer > .container {
  background-color: #ffffff;
}
.navbar-inverse {
  background-color: #ffffff;
}
#3-col {
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  column-count: 3;
  column-gap: 10px
}