<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">Home</a></li>
  <li><a href="codesystems.html">HL7 Code Systems</a></li>
  <li><a href="valuesets.html">Value Sets</a></li>
  <li><a href="conceptmaps.html">Concept Maps</a></li>
  <li><a href="identifiers.html">Identifier Systems</a></li>
  <li><a href="external_terminologies.html">External Terminologies</a></li>
  <li><a href="documentation.html">Documentation</a></li>
  <li><a href="downloads.html">Downloads</a></li>
  <li><a href="newcsnotify.html">Pending</a></li>
</ul>