<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">Home</a></li>
  <li><a href="codesystems.html">Code Systems</a></li>
  <li><a href="valuesets.html">Value Sets</a></li>
  <li><a href="conceptmaps.html">Concept Maps</a></li>
  <li><a href="namingsystems.html">Naming Systems</a></li>
  <li><a href="background.html">Background</a></li>
  <li><a href="downloads.html">Downloads</a></li>
</ul>